/* Universal and Header */
* {
	font-family: "Lato", monospace;	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

nav	{
	padding: 16px;
	margin-bottom: 4px;
	background-color: palegreen;
	text-align: center;
	position: fixed;
  	top: 0;
  	width: 100%;
    border-bottom: 1px solid slategray;  
}

.nav-link {
	margin-left: 15px;
	margin-right: 15px;
}

a {
	text-decoration: none;
	color: slategray;
}

a:hover {color: darkgray;}

body {
	min-height: 20rem;	
	background-image: url(./white-bg-img.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

section {
	max-width : 1200px;
	margin: 0 auto;	
}

#landing,
#tools,
#projects {
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
}	

h2 {font-size:40px;}
h3 {font-size:25px;}
p {font-size:16px;}
/* ======================   
 Landing - First Section  
========================= */
#profile {
	height: 400px;
	width: 300px;
	margin-bottom: 15px;
	margin-top: 15px;
    border-radius: 10px;
    border: 1px solid;
    box-shadow: 5px 7px slategray;
}

#name {
	margin-top: 15px;
	margin-bottom: 15px;
}

#title {
	margin-top: 15px;
	margin-bottom: 15px;	
}

#intro {
	width: 50%;
	margin-left: auto;
    margin-right: auto;
}

/* ======================   
 Tools - Second Section  
========================= */
#tools-title {
	margin-bottom: 20px;
}

.tools-img {
	height: 100px;
	width: 100px;
	margin-left: 15px;
	margin-right: 15px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid;
    box-shadow: 5px 7px slategray;	
}

/* ======================   
 Projects - Third Section  
========================= */
#projects .card {
 	background-color: lightpink;
 	height: 550px;
 	width: 600px;
	margin: 40px auto;
    border-radius: 10px;
    padding: 40px;
    border: 1px solid;
    box-shadow: 5px 7px slategray;		
}

#projects h3 {margin-bottom: 15px;}

.card-img {
	height: 400px;
	width: 300px;
}

/* ======================   
 Contact - Footer  
========================= */
#bottom {
	font-size: small;
	text-align:right;
	margin-right: 25px;
}

#contact {
	text-align: center;
	padding: 16px;
	margin-top: 4px;
	background-color: palegreen;
	border-top: 1px solid slategray;
}

#contact a {
   margin: 0 10px;
}